@import "tailwindcss";

@theme {
  --color-primary: #f4a261;
  --color-secondary: #2a9d8f;
  --color-dark: #264653;
  --color-light: #e9c46a;
  --color-accent: #e76f51;

  --font-sans: TikTok Sans, sans-serif;
  --font-heading: Epilogue, sans-serif;
}

.underline-title {
  position: relative;
  display: inline-block;
}

.underline-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 125%;
  height: 3px;
  background-color: var(--color-primary);
}

.underline-title.underline-center:after {
  content: "";
  position: absolute;
  left: 5%;
  bottom: -3px;
  width: 90%;
  height: 3px;
  background-color: var(--color-primary);
}
