---
import Hero3 from "../components/Hero3.astro";
import Hero2 from "../components/Hero2.astro";
import Hero from "../components/Hero.astro";
import Nosotros from "../components/Nosotros.astro";
import Servicios from "../components/Servicios.astro";
import Normativas from "../components/Normativas.astro";
import Beneficios from "../components/Beneficios.astro";
import Clientes from "../components/Clientes.astro";
import Faq from "../components/Faq.astro";
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Navbar2 from "../components/Navbar2.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Navbar2 />
  <Hero3 />
  <!-- <Hero2 /> -->
  <!-- <Hero /> -->
  <!-- <main class="-mt-24 bg-white container mx-auto relative z-10"> -->
  <main class="bg-white container mx-auto relative z-10">
    <Nosotros />
  </main>
  <Servicios />
  <Normativas />
  <Beneficios />
  <Clientes />
  <Faq />
  <Contacto />

  <Footer />
</Layout>
