---
import responsabilidadImage from "../assets/responsabilidad.png";
import calidadImage from "../assets/calidad.png";
import eficienciaImage from "../assets/eficiencia.png";
import BeneficioCard from "./BeneficioCard.astro";

// Datos de los beneficios para las tarjetas
const beneficios = [
  {
    titulo: "Responsabilidad",
    descripcion:
      "Cumplimos plazos, trabajamos con normas SEC/NCh aplicables, garantizando resultados confiables y seguros.",
    imagen: responsabilidadImage,
  },
  {
    titulo: "Calidad",
    descripcion:
      "Empleamos materiales certificados y realizamos controles exhaustivos en cada etapa del proceso de fabricación.",
    imagen: calidadImage,
  },
  {
    titulo: "Eficiencia",
    descripcion:
      "Respuestas rápidas y soluciones adaptadas a los requerimientos específicos de cada cliente y proyecto.",
    imagen: eficienciaImage,
  },
];

// Datos para la tabla de beneficios
const beneficiosTabla = [
  {
    titulo: "Responsabilidad",
    detalle:
      "Cumplimos plazos, trabajamos con normas SEC/NCh aplicables, garantizando resultados confiables y seguros.",
    icono: "🔧",
  },
  {
    titulo: "Calidad",
    detalle:
      "Empleamos materiales certificados y realizamos controles exhaustivos en cada etapa del proceso de fabricación.",
    icono: "✅",
  },
  {
    titulo: "Eficiencia",
    detalle:
      "Respuestas rápidas y soluciones adaptadas a los requerimientos específicos de cada cliente y proyecto.",
    icono: "🚀",
  },
];
---

<section id="beneficios" class="py-18 md:py-28 bg-gray-50">
  <div class="container mx-auto px-4">
    <div class="text-center mb-12">
      <h2
        class="text-3xl md:text-4xl font-bold font-heading mb-6 underline-title underline-center text-gray-600"
      >
        Por qué elegir Ingecaal
      </h2>
      <p class="text-lg text-gray-700 max-w-5xl mx-auto text-balance">
        En <span class="font-bold">Ingecaal</span>, cada tablero eléctrico que
        fabricamos representa nuestro compromiso con la excelencia. Nos
        esforzamos por superar las expectativas de nuestros clientes, ofreciendo
        productos que no solo cumplen con las normativas vigentes, sino que
        también se destacan por su durabilidad, funcionalidad y diseño adaptado
        a cada necesidad específica.
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-10 md:gap-11 px-8 lg:px-28">
      {
        beneficios.map((beneficio) => (
          <BeneficioCard
            titulo={beneficio.titulo}
            descripcion={beneficio.descripcion}
            imagen={beneficio.imagen}
            alt={`Imagen de ${beneficio.titulo}`}
          />
        ))
      }
    </div>
  </div>
</section>
