---
// Clientes component for landing page
import dartelImage from "../assets/dartel-electricidad.png";
import mallplazaImage from "../assets/mallplaza.png";
import strabagImage from "../assets/strabag.png";
import tpsImage from "../assets/tps.png";
import ClienteCard from "./ClienteCard.astro";

// Datos de los clientes
const clientes = [
  { nombre: "Dartel Electricidad", imagen: dartelImage },
  { nombre: "Mall Plaza", imagen: mallplazaImage },
  { nombre: "Strabag", imagen: strabagImage },
  { nombre: "TPS", imagen: tpsImage },
  // { nombre: "Cliente 5", imagen: calidadImage },
];
---

<section id="clientes" class="py-18 md:py-28 bg-white">
  <div class="container mx-auto px-4">
    <div class="text-center mb-12">
      <h2
        class="text-3xl md:text-4xl font-bold font-heading mb-6 underline-title underline-center text-gray-600"
      >
        Clientes que confían en nosotros
      </h2>
      <p class="text-lg text-gray-700 max-w-5xl mx-auto text-balance">
        Hemos suministrado tableros a múltiples empresas y particulares a lo
        largo de nuestra trayectoria.
      </p>
    </div>

    <!-- Logos de clientes -->
    <div class="grid grid-cols-2 md:grid-cols-4 gap-3 md:gap-4 mb-12">
      {
        clientes.map((cliente) => (
          <ClienteCard imagen={cliente.imagen} nombre={cliente.nombre} />
        ))
      }
    </div>

    <div class="p-6 rounded-lg text-center">
      <p class="text-lg font-semibold text-gray-600">
        ¿Quieres ser parte de nuestra lista de clientes satisfechos? <a
          href="#contacto"
          class="underline text-primary transition-colors duration-300"
          >Contáctanos hoy mismo</a
        >
      </p>
    </div>
  </div>
</section>
