---
// Hero component for landing page
---

<section
  id="inicio"
  class="relative flex items-end justify-center text-white overflow-hidden mt-[70px] py-18 md:py-28"
>
  <div
    class="absolute left-0 top-0 w-full h-full backdrop-blur-[10px] bg-[url('/src/assets/taller-1.png')] bg-center bg-cover"
  >
    <!-- <img
      src=""
      alt="A bird sitting on a nest of eggs."
      class="object-cover object-bottom w-full"
    /> -->
    <div class="absolute w-full h-full bg-black opacity-50"></div>
    <div class="absolute w-full h-full backdrop-blur-[1px]"></div>
  </div>
  <div class="container mx-auto px-4 relative z-10">
    <p class="text-xl md:text-xl max-w-3xl text-center mx-auto text-white">
      Frabricando tableros eléctricos <span class="font-bold pl-1"
        >por más de 20 años</span
      >
    </p>
    <h1
      class="text-3xl md:text-4xl lg:text-5xl font-bold font-heading mb-6 text-center text-white mt-4"
    >
      Confección de tableros electricos con<br />
      <span class="text-primary">responsabilidad, calidad y eficiencia</span>
    </h1>

    <div
      class="flex flex-col sm:flex-row items-center md:justify-center gap-4 mt-5"
    >
      <a
        href="#contacto"
        class="bg-primary hover:bg-accent text-white font-bold py-3 px-8 rounded-md transition duration-300 ease-in-out transform hover:scale-105"
      >
        Contáctanos
      </a>
      <a
        href="#nosotros"
        class="border border-white hover:border-light hover:text-primary text-white font-bold py-3 px-8 rounded-md transition duration-300 ease-in-out transform hover:scale-105 backdrop-blur-sm"
      >
        Conoce más
      </a>
    </div>
  </div>
</section>
