---
// Hero component for landing page
import heroImage from "../assets/hero.png";
---

<section
  id="inicio"
  class="relative bg-gradient-to-b from-dark to-secondary min-h-[90vh] flex items-end justify-center text-white overflow-hidden"
>
  <div class="absolute inset-0">
    <div
      class="absolute inset-0 bg-cover bg-center"
      style={`background-image: url(${heroImage});`}
    >
    </div>
    <div
      class="bg-linear-to-r from-[#0000006d] via-transparent to-transparent absolute left-0 top-0 h-full w-full"
    >
    </div>
  </div>
  <div class="container mx-auto px-4 pb-[12rem] relative z-10 pr-[40%]">
    <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold font-heading mb-6">
      FABRICANDO TABLEROS ELÉCTRICOS<br />
      <span class="text-primary">POR MÁS DE 20 AÑOS</span>
    </h1>
    <p class="text-xl md:text-2xl mb-10 max-w-3xl">
      Confección de gabinetes, diseño y alambrado con <span class="font-bold"
        >responsabilidad</span
      >,
      <span class="font-bold">calidad</span> y <span class="font-bold"
        >eficiencia</span
      >.
    </p>
    <div class="flex flex-col sm:flex-row justify-start gap-4">
      <a
        href="#contacto"
        class="bg-primary hover:bg-accent text-white font-bold py-3 px-8 rounded-md transition duration-300 ease-in-out transform hover:scale-105"
      >
        Contáctanos
      </a>
      <a
        href="#nosotros"
        class="border border-white hover:border-light text-white font-bold py-3 px-8 rounded-md transition duration-300 ease-in-out transform hover:scale-105"
      >
        Conoce más
      </a>
    </div>
  </div>
</section>
