---
// Normativas component for landing page
import CertificacionCard from "./CertificacionCard.astro";

// Datos de certificaciones
const certificaciones = [
  {
    titulo: "IEC 61439",
    descripcion:
      "Ensamblajes de baja tensión, garantizando seguridad y confiabilidad.",
  },
  {
    titulo: "IEC 60529",
    descripcion:
      "Protección IP contra ingreso de agua y polvo, asegurando durabilidad.",
  },
  {
    titulo: "NEMA",
    descripcion:
      "Normas para gabinetes en EE.UU., reconocidas internacionalmente.",
  },
  {
    titulo: "Materiales",
    descripcion:
      "Autoextinguibles y resistentes a la corrosión para mayor seguridad.",
  },
  {
    titulo: "Identificación",
    descripcion:
      "Fases, tensión, y nombre visible para fácil reconocimiento y operación.",
  },
];
---

<section id="normativas" class="py-18 md:py-28 bg-white">
  <div class="container mx-auto px-4 grid md:grid-cols-[37%_auto] gap-x-8">
    <div class="mb-12 pr-7">
      <h2
        class="text-2xl md:text-3xl font-bold font-heading mb-6 underline-title text-gray-600 inline-block w-[60%]"
      >
        Normativas y certificaciones
      </h2>
      <p class="text-lg text-gray-700 max-w-3xl mx-auto">
        En <span class="font-bold">Ingecaal</span> nos ajustamos a la normativa chilena
        (RIC Nº 02 de la SEC, Decreto Nº 8/2019) que exige cumplimiento de normas
        internacionales IEC 61439‑1, IEC 61439‑2, IEC 60529 (protección IP) y NEMA,
        asegurando seguridad, durabilidad y funcionamiento confiable.
      </p>
      <div class="pt-6 rounded-lg">
        <p class="text-md font-semibold pl-3 py-1 border-l-2 border-primary">
          Cumplimos con las actualizaciones del Reglamento Eléctrico Chileno y
          todas las exigencias de la SEC.
        </p>
      </div>
    </div>

    <div class="mb-12">
      <h3 class="text-xl font-bold text-dark">
        ¿Qué certificaciones cumplen nuestros tableros?
      </h3>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
        {
          certificaciones.map((cert) => (
            <CertificacionCard
              titulo={cert.titulo}
              descripcion={cert.descripcion}
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
